
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <style charset="utf-8" type="text/css">
    </style>
</head>
<body bgcolor="#FFFFFF">
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>{{surveyname}}</th>
                    <th>Scale: 1=bad, 3=Good, 5=Excelent.</th>
                </tr>
            </thead>
            <tbody>
                <tr data-background-color-approval="">
                    <td>
                       
                    </td>
                    <td>
                        
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
</body>
</html>